.container {
    text-align: center;
    height: 300px;
    color:white;
    h1 {
      font-size: 45px;
      text-align: center;
      padding-top: 50px;
      margin: 0px;
    }
    hr {
      width: 15%;
      margin-top: 70px;
    }
    .text{
        font-size: 25px;
    }
  }
  