.container {
  font-family: "Overpass";
  width: 280px;
  height: 400px;
  display: block;
  margin: 40px;
  //box-shadow: 10px 5px 40px 20px darken(#ecebeb, 5%);
  transition: 0.25s;

  &:hover {
    box-shadow: 10px 5px 40px 20px darken(#b9b9bb, 10%);
    cursor: pointer;
    transform: translate(10px, 0);
  }
  .card_header {
    height: 80%;
    //width: 100%;
    padding: 15px;
    background-size: cover;
    color: #fff;

    .card_header__title {
      text-transform: uppercase;
      margin: 0;
    }
  }

  .card_body {
    padding: 15px;
    background-color: #fff;
    width: 100%;

    .body_content {
      margin: 0 0;
      font-size: 13px;
      line-height: 1.8;
    }

    .btn_wrapper{
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .button_primary {
      margin: 0 auto;
      cursor: pointer;
      width: 75px;
      border: 1px solid grey;
      border-radius: 3px;
      box-shadow: none;
      font-family: inherit;
      background-color: transparent;
      color: black;
      font-size: 15px;
      transition: 0.25s;
      &:hover {
        transform: translate(10px, 0);
      }
    }

    .price {
      margin: 5px;
    }
  }
}
