$black: #161616;

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// ============= Carousel ============= //
.carousel_wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel_container {
  position: relative;
  width: 80%;
}

.carousel_slide_list {
  display: flex;
  position: relative;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 400px;
}

.carousel_slide_item {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.5s ease;
  width: fit-content;

  &:nth-child(1) {
    order: 4;
  }
  &:nth-child(2) {
    order: 5;
  }
  &:nth-child(3) {
    order: 1;
  }
  &:nth-child(4) {
    order: 2;
  }
  &:nth-child(5) {
    order: 3;
  }
}

.card_wrapper {
  flex: 2 1 auto;
}

.carousel_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  &.prev_btn {
    left: -5rem;
  }
  &.next_btn {
    right: -5rem;
  }
}

.carousel_btn__arrow {
  border: solid $black;
  border-width: 0 0.4rem 0.4rem 0;
  display: inline-block;
  padding: 3px;
  height: 30px;
  width: 30px;
  &.left {
    transform: rotate(135deg);
  }
  &.right {
    transform: rotate(-45deg);
  }
}

.carousel_dots {
  display: inline-block;
  margin-top: 2rem;

  .dot {
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    cursor: pointer;
    &.active {
      background: $black;
    }
  }
}

.box {
  display: flex;
  flex-direction: row;
}
.box :nth-child(1) {
  order: 2;
}
.box :nth-child(2) {
  order: 3;
}
.box :nth-child(3) {
  order: 1;
}
.box :nth-child(4) {
  order: 3;
}
.box :nth-child(5) {
  order: 1;
}
