.container {
  background-color: whitesmoke;
  max-width: 1400px;
  height: 75vh;
  margin: 25px auto;
  margin-top: 0px;
  font-family: "Alegreya Sans", sans-serif;
  border: 1px solid #ff4747;
  border-top: none;

  p, h2{
    max-width: 1350px;
    margin: 0px auto;
    padding: 20px 0px;
  }
}
