.container {
  background-color: white;
  max-width: 1400px;
  height: fit-content;
  margin: 25px auto;
  margin-top: 0px;
  font-family: "Alegreya Sans", sans-serif;
  border: 1px solid #ff4747;
  border-top: none;
}
